<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue boolzapp</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    <body class="bg-primary">
        <div id="app">
            <div class="d-flex flex-column  mt-2 flex-wrap box">
                <aside>
                    <div class="d-flex ">
                        <div class="d-flex justify-content-between">
                            <p>
                                <img :src="avatar" alt="io">
                                {{name}}
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </p>
                            
                        </div>
                        
                       
                      
                    </div>
                    <div class="d-flex bg-light ">
                        <i class="fa-solid fa-bell-slash mt-3"></i>
                        <p class="notifica mt-3">Nessuna notifica</p>
                        
                       
                    </div>
                    <a href="">
                        Aggiungi utente al desktop
                    </a>
                    
                    <div>
                        <form class="w-100 mt-3 d-flex" action="" @submit.prevent="searchUser()">  
                            <input class="w-100" v-model="letters" type="text"placeholder="cerca untente">
                            <button class="w-10 border-none">
                                Invia
                            </button>
                        </form>
                       
                        <ul>
                            <li @click="activeContact=element" v-for="(element,index) in contacts">
                                <img class="avatar" :src="element.avatar" alt="">
                                {{element.name}}
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- <div v-if="activeContact==null">
                    <header>
                        <div>
                            <img src="img/avatar_1.jpg" alt="">
                        </div>
                    </header>
                </div> -->
                
                <header class="bg-light">
                    <div class="d-flex justify-content-between" >
                        
                        <div>
                            <img :src="activeContact.avatar" alt="">
                            {{activeContact.name}}
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                     </div>
                </header> 
                <main>
                   
                    
                    <div>       
                         <div class="d-flex mt-4 messaggi "  v-for="(messaggio, index) in  activeContact.messages">
                        <span class="  p-2" :class="(messaggio.status=='sent') ? 'sent':'received'">
                        {{messaggio.message}}
                        
                        
                        </span>
                        </div>
                            
                    </div>
                </main>
                <footer class="bg-light">
                    <form class="w-100 mt-3 d-flex" action="" @submit.prevent="addMessage()">
                        <input class="form-control" v-model="activeMessage"  type="text" placeholder="Invia Messaggio" aria-label="default input example">
                        <button class="w-10 border-none">
                            Invia
                        </button>
                    </form>
                </footer>
    
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script  src="contacts.js"></script>
    </body>
</html>