body{
    height: 100vh;
}
.box{
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    
}
aside{
    width: 20%;
    height: 100%;
    background-color: lightskyblue;
    border-right: 1px solid black;
}
main,header,footer{
    width: 80%;
    /* height: calc(100%/3)-100vh; */
    
}
header{
    background-color: lightgrey;
    /* height: 20%; */
    /* width: 100%; */
    height: 10%;
}
main{
    background-color: white;
    height:80%;
}
footer{
    
    height:10%;
}
img{
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-top: 5px;
    
}
.utenti{
    vertical-align: middle;
}
ul{
    list-style: none;
}
.messaggi.sent{
    display: flex;
    align-self: flex-end;
}
.sent{
    background-color: lightgreen;
    align-self: flex-end;
    display: flex;
    text-align: right;
    min-width: 30%;
    max-width: 60%;
}
.received{
    background-color: lightgrey;
    align-self:start;
    align-self: flex-start;
    min-width: 30%;
    max-width: 60%;
    
}
a{
    font-size: small;
}

